<template>
  <div class="content">
    <div class="row">
      <div class="col-lg-6">
        <card
            type="chart"
        >
          <template slot="header">
            <router-link to='/table'>
            <div @mouseover="onMouseOver" @mouseout="onMouseOut">
            <h5 class="card-category">Money Supply</h5>
            <h2 class="card-title" id="moneysupply">자금공급 현황</h2>
            </div>
            </router-link>
          </template>
          <div class="d-flex" style="height: 220px">
            <div class="col-6">
              <funding-progress title="전체" bg="bg-success" dest="table" :goal="funding.total.goal" :result="funding.total.result"></funding-progress>
              <funding-progress title="혁신성장" bg="bg-info" dest="table" :goal="funding.inno.goal" :result="funding.inno.result"></funding-progress>
            </div>
            <div class="col-6">
              <funding-progress title="중소중견" bg="bg-warning" dest="table" :goal="funding.smallcap.goal" :result="funding.smallcap.result"></funding-progress>
              <funding-progress title="주력산업지원" bg="bg-danger" dest="table" :goal="funding.major.goal" :result="funding.major.result"></funding-progress>
            </div>
          </div>
        </card>
      </div>
      <div class="col-lg-6">
        <card
        type="chart"
        >
        <template slot="header">
          <div class="row">
            <div class="col-sm-6" :class="isRTL ? 'text-right' : 'text-left'">
              <template v-if="!isRTL">
                <h5 class="card-category">Operating Assets</h5>
              </template>
              <template v-else>
                <h5 class="card-category">مجموع الشحنات</h5>
              </template>
              <template v-if="!isRTL">
                <h2 class="card-title">영업자산</h2>
              </template>
              <template v-else>
                <h2 class="card-title">  أداء</h2>
              </template>
            </div>
            <div class="col-sm-6">
              <div class="btn-group btn-group-toggle"
                   data-toggle="buttons"
                   :class="isRTL ? 'float-left' : 'float-right'">
                   <template v-if="!isRTL">
                     <label v-for="(option, index) in bigLineChartCategories"
                            :key="option"
                            class="btn btn-success btn-sm btn-simple"
                            :class="{active:bigLineChart.activeIndex === index}"
                            :id="index">
                        <input type="radio"
                              @click="initBigChart(index)"
                              name="options" autocomplete="off"
                              :checked="bigLineChart.activeIndex === index">
                        {{ option }}
                     </label>
                   </template>
                   <template v-else>
                     <label v-for="(option, index) in bigLineChartCategoriesAr"
                            :key="option"
                            class="btn btn-success btn-sm btn-simple"
                            :class="{active:bigLineChart.activeIndex === index}"
                            :id="index">
                        <input type="radio"
                              @click="initBigChart(index)"
                              name="options" autocomplete="off"
                              :checked="bigLineChart.activeIndex === index">
                        {{ option }}
                     </label>
                   </template>
              </div>
            </div>
          </div>
        </template>
        <div class="chart-container">
          <line-chart
              v-show="showBigLineChart"
              v-on:linechartrenderfinished="onLineChartRenderFinished"
                  class="chart-area"
                  ref="bigChart"
                  chart-id="big-line-chart"
                  :height=220
                  :chart-data="bigLineChart.chartData"
                  :gradient-colors="bigLineChart.gradientColors"
                  :gradient-stops="bigLineChart.gradientStops"
                  :extra-options="bigLineChart.extraOptions">
          </line-chart>
        </div>
<!--         <v-container class="chart-container">
  <TheChart :chartdata="chartData" :options="chartOptions" />
</v-container> -->

        </card>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <card
            type="chart"
            cardCol
        >
          <template slot="header">
            <h5 class="card-category">Additional Indicators</h5>
            <h3 class="card-title"><i class="tim-icons icon-app text-info "></i>계량지표</h3>
          </template>
          <horizontal-bar-chart
              class="chart-area"
              chart-id="blue-bar-chart"
              :chart-data="horizontalBarChart.chartData"
              :gradient-stops="horizontalBarChart.gradientStops"
              :extra-options="horizontalBarChart.extraOptions">
          </horizontal-bar-chart>
        </card>
      </div>
      <div class="col-lg-4" :class="{'text-right': isRTL}">
        <card
        type="chart"
        cardCol
        >
        <template slot="header">
          <h5 class="card-category">Composition of operating assets</h5>
          <h3 class="card-title"><i class="tim-icons icon-atom text-primary "></i>영업자산구성</h3>
        </template>
          <pie-chart
                  class="chart-area"
                  chart-id="green-pie-chart"
                  :chart-data="pieChart.chartData"
                  :gradient-colors="pieChart.gradientColors"
                  :gradient-stops="pieChart.gradientStops"
                  :extra-options="pieChart.extraOptions">
          </pie-chart>
        </card>
      </div>
      <div class="col-lg-4">
        <rorwa-card title="위험가중자산 이익률" sub-title="RoRWA" :result="rorwa.result" :goal="rorwa.goal" ></rorwa-card>
        <rorwa-card title="가중평균부도율" sub-title="WAPD" :result="wapd.result" :goal="wapd.goal" ></rorwa-card>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <card type="tasks">
          <template slot="header">
            <template v-if="!isRTL">
              <h6 class="title d-inline">할 일(5)</h6>
            </template>
            <template v-else>
              <h6 class="title d-inline">الشحنات</h6>
            </template>
            <template v-if="!isRTL">
              <p class="card-category d-inline">Today</p>
            </template>
            <drop-down tag="div" :class="isRTL ? 'float-left' : ''">
              <button aria-label="Settings menu" data-toggle="dropdown" class="dropdown-toggle btn-rotate btn btn-link btn-icon" :class="isRTL ? 'pl-5' : ''">
                <i class="tim-icons icon-settings-gear-63"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <a href="#pablo" class="dropdown-item">Action</a>
                <a href="#pablo" class="dropdown-item">Another Action</a>
                <a href="#pablo" class="dropdown-item">Something else</a>
              </ul>
            </drop-down>
          </template>
          <div class="table-full-width table-responsive">
            <task-list></task-list>
          </div>
        </card>
      </div>
      <div class="col-lg-6 col-md-12">
        <card class="card" style="height:473px">
          <h4 slot="header" class="card-title">
            <template v-if="!isRTL">
              주요 여신거래처(익스포저순)
            </template>
            <template v-else>
              جدول بسيط
            </template>
          </h4>
          <div class="table-responsive" style="max-height:410px">
            <user-table></user-table>
          </div>
        </card>
      </div>
    </div>
  </div>
</template>


<script>

import {
  Card
} from "@/components/index";

import FundingProgress from "@/components/FundingProgress";
import RorwaCard from "@/components/RorwaCard";
import PieChart from '@/components/Charts/PieChart';
import LineChart from '@/components/Charts/LineChart';
import HorizontalBarChart from '@/components/Charts/HorizontalBarChart';
import * as chartConfigs from '@/components/Charts/config';
import TaskList from './Dashboard/TaskList'
import UserTable from './Dashboard/UserTable'
import config from '@/config';

export default {
  components: {
    Card,
    PieChart,
    LineChart,
    HorizontalBarChart,
    TaskList,
    UserTable,
    FundingProgress,
    RorwaCard
  },
  data(){
    return{
      bigLineChartCategories:[
        "월별 추이",
        "주간 추이",
        "전년대비 비교"
      ],
      bigLineChartCategoriesAr:[
        "حسابات",
        "المشتريات",
        "جلسات"
      ],
      bigLineChart: {
        allData: [
          [8094, 8218, 7743, 7711, 8436, 8725, 8607, 8389, 8837, 8738],
          [80, 120, 105, 110, 95, 105, 90, 100, 80, 95, 70, 120],
          [60, 80, 65, 130, 80, 105, 90, 130, 70, 115, 60, 130]
        ],
        activeIndex: 0,
        chartData: { datasets: [{ }]},
        extraOptions: chartConfigs.purpleChartOptions,
        gradientColors: config.colors.primaryGradient,
        gradientStops: [1, 0.4, 0],
        categories: []
      },
      pieChart: {
        extraOptions: chartConfigs.greenPieChartOptions,
        chartData: {
          labels: ['AA-이상', 'A-이상', 'BBB-이상', 'BB-이상', 'B+이하'],
          datasets: [{
            label: "Data",
            fill: true,
            borderColor: "#ffffff",
            borderWidth: 2,
            borderDash: [],
            borderDashOffset: 0.0,
            pointBackgroundColor: config.colors.primary,
            pointBorderColor: 'rgba(255,255,255,0)',
            pointHoverBackgroundColor: config.colors.primary,
            pointBorderWidth: 20,
            pointHoverRadius: 4,
            pointHoverBorderWidth: 15,
            pointRadius: 4,
            backgroundColor: ["rgba(255, 0, 0, 0.3)", "#9bba57", "#4f81bb", "#5f497a", "#a94069", "#ff5f34"],
            data: [600, 3563, 3049, 1264, 566],
          }]
        },
        gradientColors: config.colors.primaryGradient,
        gradientStops: [1, 0.2, 0],
      },
      performanceIndicator: {
        excel: { goal: 48, result: 44, progress: 91.7 },
        tech: { goal: 202, result: 213, progress: 105.4 },
        deposit: { goal: 3123, result: 4335, progress: 138.8 },
        exim: { goal: 74.1, result: 112.5, progress: 151.8 },
        pension: { goal: 60.0, result: 0, progress: 0.0 },
        trust: { goal: 45.0, result: 19.4, progress: 43.1 }
      },
      horizontalBarChart: {
        extraOptions: chartConfigs.barChartOptions,
        chartData: {
          labels: ['우량거래처 유지', '기술금융', '예수금', '수출입', '퇴직연금', '금전신탁'],
          datasets: [{
            label: "계량지표 달성현황",
            fill: true,
            borderColor: config.colors.info,
            borderWidth: 2,
            borderDash: [],
            borderDashOffset: 0.0,
            data: [91.7, 105.4, 138.8, 151.8, 0.0, 43.1],
          }]
        },
        gradientColors: config.colors.primaryGradient,
        gradientStops: [1, 0.4, 0],
      },
      funding: {
        total: {goal: 5790, result: 5580},
        smallcap: {goal: 3540, result: 3828},
        inno: {goal: 2850, result: 2579},
        major: {goal: 3380, result: 3178}
      },
      rorwa: {
        goal: 2.50,
        result: 2.93
      },
      wapd: {
        goal: 0.97,
        result: 0.60
      },
      showBigLineChart: false
    };
  },
  computed:{
    fundingProgressTotal() {
      return (this.funding.total.result/this.funding.total.goal*100).toFixed(1);
    },
    fundingProgressSmallCap() {
      return (this.funding.smallcap.result/this.funding.smallcap.goal*100).toFixed(1);
    },
    fundingProgressInno() {
      return (this.funding.inno.result/this.funding.inno.goal*100).toFixed(1);
    },
    fundingProgressMajor() {
      return (this.funding.major.result/this.funding.major.goal*100).toFixed(1);
    },
    enableRTL() {
      return this.$route.query.enableRTL;
    },
    isRTL(){
      return false;
    }
  },
  methods:{
    initBigChart(index) {
      let chartData = {
        datasets: [{
          fill: true,
          borderColor: config.colors.primary,
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          pointBackgroundColor: config.colors.primary,
          pointBorderColor: 'rgba(255,255,255,0)',
          pointHoverBackgroundColor: config.colors.primary,
          pointBorderWidth: 20,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 15,
          pointRadius: 4,
          data: this.bigLineChart.allData[index]
        },{
          fill: true,
          borderColor: config.colors.goalline,
          borderWidth: 2,
          borderDash: [],
          borderDashOffset: 0.0,
          pointBackgroundColor: config.colors.goalline,
          pointBorderColor: 'rgba(255,255,255,0)',
          pointHoverBackgroundColor: config.colors.primary,
          pointBorderWidth: 20,
          pointHoverRadius: 4,
          pointHoverBorderWidth: 15,
          pointRadius: 0,
          data: [8400, 8400, 8400, 8400, 8400, 8400, 8400, 8400, 8400, 8400, 8400, 8400]
        }],
        labels: ['1월', '2월', '3월', '4월', '5월', '6월', '7월', '8월', '9월', '10월', '11월', '12월'],
      }
      this.$refs.bigChart.updateGradients(chartData);
      this.bigLineChart.chartData = chartData;
      this.bigLineChart.activeIndex = index;
    },
    onLineChartRenderFinished() {
      this.showBigLineChart = true
    },
    onMouseOver() {
      document.getElementById('moneysupply').style.fontWeight = "500";
      // document.getElementById('moneysupply').style.textDecoration = "underline overline";
    },
    onMouseOut() {
      document.getElementById('moneysupply').style.fontWeight = "100";
      // document.getElementById('moneysupply').style.textDecoration = "";
    }
  },
  mounted(){
    this.i18n = this.$i18n;
/*     if (this.enableRTL) {
      this.i18n.locale = 'ar';
      this.$rtl.enableRTL();
    } */ // trouble shooting for mobile
    this.initBigChart(0);
    // setTimeout(() => {
    //   this.showBigLineChart = true
    // }, 2000);
  },
  beforeDestroy() {
    if (this.$rtl.isRTL) {
      this.i18n.locale = 'en';
      this.$rtl.disableRTL();
    }
  }
}
</script>
<style></style>