<template>
  <div class="content">
    <div class="row">
      <div class="col-12">
        <card>
          <template slot="header">
            <h4 class="card-title">자금공급현황</h4>
          </template>
          <div class="table-responsive text-left">
            <base-table :data="table1.data"
                        :columns="table1.columns"
                        style="width:2000px"
                        thead-classes="text-primary">
            </base-table>
          </div>
        </card>
      </div>

<!--       <div class="col-12">
        <card class="card-plain">
          <template slot="header">
                <h4 class="card-title"> Table on Plain Background</h4>
                <p class="category"> Here is a subtitle for this table</p>
              </template>
          <div class="table-full-width table-responsive text-left">
            <base-table :title="table2.title" :sub-title="table2.subTitle" :data="table2.data"
                        :columns="table2.columns">
            </base-table>
          </div>
        </card>
      </div> -->

    </div>
  </div>
</template>
<script>

import {
  Card
} from "@/components/index";

import BaseTable from "@/components/BaseTable";

const tableColumns = ["고객번호", "고객명", "계정과목명", "상품유형", "상품재원", "상품용도", "상품기법", "혁신성장품목코드", "혁신성장품목", "신용등급", "기표일자", "기표금액(원화)", "단기운영연평잔", "기업규모", "회수여부", "예외사항여부", "실적인정액", "비고"];
const tableData = [
  { "id": 1,"고객번호": "21478339","고객명": "(주)아이노스","계정과목명": "산업운영자금대출","상품유형": "미래성장산업 지원 특별자금(운영)","상품재원": "미래성장산업 지원","상품용도": "운영","상품기법": "TCB 기술등급 활용","혁신성장품목코드": "G33009","혁신성장품목": "OLED디스플레이", "신용등급": "A-","기표일자": "20200102","기표금액(원화)": "1,500,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "","예외사항여부": "N","실적인정액": "1,500,000,000 ","비고": "" },
{ "id": 2,"고객번호": "20043598","고객명": "(주)티케이씨","계정과목명": "산업운영자금대출","상품유형": "경제활력 제고_0.4","상품재원": "일반","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "G34006","혁신성장품목": "플렉시블 전자소자", "신용등급": "A","기표일자": "20200107","기표금액(원화)": "5,000,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "","예외사항여부": "N","실적인정액": "5,000,000,000 ","비고": "" },
{ "id": 3,"고객번호": "20061230","고객명": "대모엔지니어링(주)","계정과목명": "산업시설자금대출","상품유형": "스마트공장 지원자금","상품재원": "스마트공장_신축","상품용도": "설비투자(공장_사업장건설)","상품기법": "일반","혁신성장품목코드": "000000","혁신성장품목": "해당사항없음", "신용등급": "A-","기표일자": "20200116","기표금액(원화)": "2,100,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "","예외사항여부": "N","실적인정액": "2,100,000,000 ","비고": "" },
{ "id": 4,"고객번호": "20521944","고객명": "(주)신진스틸","계정과목명": "산업운영자금대출","상품유형": "핵심기반산업 지원자금","상품재원": "부품소재산업 육성","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "000000","혁신성장품목": "해당사항없음", "신용등급": "BBB-","기표일자": "20200116","기표금액(원화)": "800,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "기한전전부상환","예외사항여부": "N","실적인정액": "470,000,000 ","비고": "" },
{ "id": 5,"고객번호": "20521944","고객명": "(주)신진스틸","계정과목명": "산업운영자금대출","상품유형": "핵심기반산업 지원자금","상품재원": "부품소재산업 육성","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "000000","혁신성장품목": "해당사항없음", "신용등급": "BBB-","기표일자": "20200422","기표금액(원화)": "1,920,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "기한전전부상환","예외사항여부": "N","실적인정액": "630,000,000 ","비고": "" },
{ "id": 6,"고객번호": "10001972","고객명": "디피씨(주)","계정과목명": "산업운영자금대출","상품유형": "핵심기반산업 지원자금","상품재원": "부품소재산업 육성","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "000000","혁신성장품목": "해당사항없음", "신용등급": "A-","기표일자": "20200424","기표금액(원화)": "6,000,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "","예외사항여부": "N","실적인정액": "6,000,000,000 ","비고": "" },
{ "id": 7,"고객번호": "10002306","고객명": "코스모신소재(주)","계정과목명": "산업운영자금대출","상품유형": "혁신성장산업지원(운영)","상품재원": "혁신성장산업","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "C12005","혁신성장품목": "리튬이온배터리", "신용등급": "BBB+","기표일자": "20200427","기표금액(원화)": "24,800,000,000 ","단기운영연평잔": "","기업규모": "중견기업","회수여부": "","예외사항여부": "N","실적인정액": "24,800,000,000 ","비고": "" },
{ "id": 8,"고객번호": "10337845","고객명": "남양넥스모(주)","계정과목명": "산업운영자금대출","상품유형": "힘내라 대한민국 특별운영자금_신속","상품재원": "코로나19","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "000000","혁신성장품목": "해당사항없음", "신용등급": "BBB-","기표일자": "20200506","기표금액(원화)": "5,000,000,000 ","단기운영연평잔": "","기업규모": "중견기업","회수여부": "","예외사항여부": "N","실적인정액": "5,000,000,000 ","비고": "" },
{ "id": 9,"고객번호": "21248711","고객명": "엔피씨몰텍(주)","계정과목명": "산업운영자금대출","상품유형": "혁신성장산업지원(운영)","상품재원": "혁신성장산업","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "A01008","혁신성장품목": "이종소재접합", "신용등급": "BBB-","기표일자": "20200521","기표금액(원화)": "1,100,000,000 ","단기운영연평잔": "","기업규모": "중견기업","회수여부": "","예외사항여부": "N","실적인정액": "1,100,000,000 ","비고": "" },
{ "id": 10,"고객번호": "10001169","고객명": "(주)동진쎄미켐","계정과목명": "산업시설자금대출","상품유형": "설비투자 붐업(Boom-up) 프로그램","상품재원": "소재 부품 장비산업","상품용도": "설비투자(공장_사업장건설)","상품기법": "일반","혁신성장품목코드": "G33009","혁신성장품목": "OLED디스플레이", "신용등급": "A","기표일자": "20200527","기표금액(원화)": "8,000,000,000 ","단기운영연평잔": "","기업규모": "중견기업","회수여부": "","예외사항여부": "N","실적인정액": "8,000,000,000 ","비고": "" },
{ "id": 11,"고객번호": "21317981","고객명": "(주)디지에스","계정과목명": "산업시설자금대출","상품유형": "지방중소기업육성이차보전<경기도>","상품재원": "일반","상품용도": "<경기도>창경자금","상품기법": "일반","혁신성장품목코드": "B06001","혁신성장품목": "특수코팅", "신용등급": "BB-","기표일자": "20200618","기표금액(원화)": "300,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "","예외사항여부": "N","실적인정액": "300,000,000 ","비고": "" },
{ "id": 12,"고객번호": "20155926","고객명": "에스브이(주)","계정과목명": "산업운영자금대출","상품유형": "혁신성장산업지원(운영)","상품재원": "혁신성장산업","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "D16006","혁신성장품목": "소음관리", "신용등급": "BB+","기표일자": "20200622","기표금액(원화)": "100,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "","예외사항여부": "N","실적인정액": "100,000,000 ","비고": "" },
{ "id": 13,"고객번호": "20061230","고객명": "대모엔지니어링(주)","계정과목명": "산업시설자금대출","상품유형": "스마트공장 지원자금","상품재원": "스마트공장_신축","상품용도": "설비투자(공장_사업장건설)","상품기법": "일반","혁신성장품목코드": "A01009","혁신성장품목": "지능형기계", "신용등급": "A-","기표일자": "20200626","기표금액(원화)": "3,500,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "","예외사항여부": "N","실적인정액": "3,500,000,000 ","비고": "" },
{ "id": 14,"고객번호": "10001169","고객명": "(주)동진쎄미켐","계정과목명": "산업운영자금대출","상품유형": "혁신성장산업지원(운영)","상품재원": "혁신성장산업","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "G33009","혁신성장품목": "OLED디스플레이", "신용등급": "A","기표일자": "20200729","기표금액(원화)": "20,000,000,000 ","단기운영연평잔": "","기업규모": "중견기업","회수여부": "","예외사항여부": "N","실적인정액": "20,000,000,000 ","비고": "" },
{ "id": 15,"고객번호": "20054818","고객명": "삼보오토(주)","계정과목명": "산업운영자금대출","상품유형": "힘내라 대한민국 특별운영자금_신속","상품재원": "코로나19","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "000000","혁신성장품목": "해당사항없음", "신용등급": "BBB-","기표일자": "20200914","기표금액(원화)": "600,000,000 ","단기운영연평잔": "","기업규모": "중견기업","회수여부": "원금전부상환","예외사항여부": "N","실적인정액": "0 ","비고": "" },
{ "id": 16,"고객번호": "10024554","고객명": "케이지이티에스(주)","계정과목명": "산업운영자금대출","상품유형": "일반","상품재원": "일반","상품용도": "일반","상품기법": "일반","혁신성장품목코드": "C13007","혁신성장품목": "폐열회수", "신용등급": "A-","기표일자": "20201026","기표금액(원화)": "5,000,000,000 ","단기운영연평잔": "","기업규모": "중견기업","회수여부": "","예외사항여부": "N","실적인정액": "5,000,000,000 ","비고": "" },
{ "id": 17,"고객번호": "10164366","고객명": "코스모화학(주)","계정과목명": "산업운영자금대출","상품유형": "힘내라 대한민국 특별운영자금_일반","상품재원": "코로나19","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "C12005","혁신성장품목": "리튬이온배터리", "신용등급": "BB","기표일자": "20201027","기표금액(원화)": "5,000,000,000 ","단기운영연평잔": "","기업규모": "중견기업","회수여부": "","예외사항여부": "N","실적인정액": "5,000,000,000 ","비고": "" },
{ "id": 18,"고객번호": "10001169","고객명": "(주)동진쎄미켐","계정과목명": "산업운영자금대출","상품유형": "일자리창출기업지원(운영)","상품재원": "일자리창출_당행","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "G33009","혁신성장품목": "OLED디스플레이", "신용등급": "A","기표일자": "20200123","기표금액(원화)": "5,000,000,000 ","단기운영연평잔": "","기업규모": "중견기업","회수여부": "","예외사항여부": "N","실적인정액": "5,000,000,000 ","비고": "" },
{ "id": 19,"고객번호": "10024554","고객명": "케이지이티에스(주)","계정과목명": "산업운영자금대출","상품유형": "혁신성장산업지원(운영)","상품재원": "혁신성장산업","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "C13007","혁신성장품목": "폐열회수", "신용등급": "A-","기표일자": "20200403","기표금액(원화)": "9,500,000,000 ","단기운영연평잔": "","기업규모": "중견기업","회수여부": "","예외사항여부": "N","실적인정액": "9,500,000,000 ","비고": "" },
{ "id": 20,"고객번호": "10001169","고객명": "(주)동진쎄미켐","계정과목명": "산업운영자금대출","상품유형": "혁신성장산업지원(운영)","상품재원": "혁신성장산업","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "G33009","혁신성장품목": "OLED디스플레이", "신용등급": "A","기표일자": "20200427","기표금액(원화)": "5,000,000,000 ","단기운영연평잔": "","기업규모": "중견기업","회수여부": "","예외사항여부": "N","실적인정액": "5,000,000,000 ","비고": "" },
{ "id": 21,"고객번호": "10024554","고객명": "케이지이티에스(주)","계정과목명": "산업운영자금대출","상품유형": "혁신성장산업지원(운영)","상품재원": "혁신성장산업","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "C13007","혁신성장품목": "폐열회수", "신용등급": "A-","기표일자": "20200504","기표금액(원화)": "16,000,000,000 ","단기운영연평잔": "","기업규모": "중견기업","회수여부": "","예외사항여부": "N","실적인정액": "16,000,000,000 ","비고": "" },
{ "id": 22,"고객번호": "21317981","고객명": "(주)디지에스","계정과목명": "산업시설자금대출","상품유형": "산업구조고도화지원(시설및투자)","상품재원": "사업재편_사업구조개편","상품용도": "설비투자(공장_사업장건설)","상품기법": "TCB 기술등급 활용","혁신성장품목코드": "B06001","혁신성장품목": "특수코팅", "신용등급": "BB-","기표일자": "20200506","기표금액(원화)": "500,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "","예외사항여부": "N","실적인정액": "500,000,000 ","비고": "" },
{ "id": 23,"고객번호": "10325580","고객명": "인바이오텍(주)","계정과목명": "산업운영자금대출","상품유형": "힘내라 대한민국 특별운영자금_신속","상품재원": "코로나19","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "000000","혁신성장품목": "해당사항없음", "신용등급": "BBB-","기표일자": "20200522","기표금액(원화)": "2,000,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "","예외사항여부": "N","실적인정액": "2,000,000,000 ","비고": "" },
{ "id": 24,"고객번호": "21446828","고객명": "(주)영재철강","계정과목명": "산업운영자금대출","상품유형": "핵심기반산업 지원자금","상품재원": "부품소재산업 육성","상품용도": "운영","상품기법": "일반","혁신성장품목코드": "000000","혁신성장품목": "해당사항없음", "신용등급": "BB-","기표일자": "20200619","기표금액(원화)": "1,000,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "","예외사항여부": "N","실적인정액": "1,000,000,000 ","비고": "" },
{ "id": 25,"고객번호": "21314769","고객명": "(주)대한볼트","계정과목명": "산업운영자금대출","상품유형": "일반","상품재원": "일반","상품용도": "일반","상품기법": "일반","혁신성장품목코드": "000000","혁신성장품목": "해당사항없음", "신용등급": "BB-","기표일자": "20200710","기표금액(원화)": "360,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "","예외사항여부": "N","실적인정액": "360,000,000 ","비고": "" },
{ "id": 26,"고객번호": "21317988","고객명": "(주)디피코","계정과목명": "산업시설자금대출","상품유형": "산업구조고도화지원(시설및투자)","상품재원": "중소중견투자_생산효율화","상품용도": "설비투자(공장_사업장건설)","상품기법": "일반","혁신성장품목코드": "A04002","혁신성장품목": "전기차/하이브리드", "신용등급": "BB-","기표일자": "20200805","기표금액(원화)": "5,600,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "","예외사항여부": "N","실적인정액": "5,600,000,000 ","비고": "" },
{ "id": 27,"고객번호": "20237851","고객명": "유트로닉스(주)","계정과목명": "산업운영자금대출","상품유형": "자동차부품기업 협약보증부 특별대출","상품재원": "현대자동차그룹 협력업체","상품용도": "운영","상품기법": "보증부대출","혁신성장품목코드": "000000","혁신성장품목": "해당사항없음", "신용등급": "BB-","기표일자": "20200811","기표금액(원화)": "500,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "","예외사항여부": "N","실적인정액": "500,000,000 ","비고": "" },
{ "id": 28,"고객번호": "20057787","고객명": "(주)지에스이앤알","계정과목명": "산업운영자금대출","상품유형": "일반","상품재원": "일반","상품용도": "일반","상품기법": "일반","혁신성장품목코드": "C13007","혁신성장품목": "폐열회수", "신용등급": "A-","기표일자": "20200827","기표금액(원화)": "50,000,000,000 ","단기운영연평잔": "","기업규모": "계열대기업","회수여부": "","예외사항여부": "Y","실적인정액": "20,000,000,000 ","비고": "대환불가신고" },
{ "id": 29,"고객번호": "10001842","고객명": "(주)융덕산업","계정과목명": "산업운영자금대출","상품유형": "일반","상품재원": "일반","상품용도": "일반","상품기법": "일반","혁신성장품목코드": "000000","혁신성장품목": "해당사항없음", "신용등급": "BBB","기표일자": "20200907","기표금액(원화)": "2,700,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "","예외사항여부": "N","실적인정액": "2,700,000,000 ","비고": "" },
{ "id": 30,"고객번호": "30217614","고객명": "(주)성원글로벌카고","계정과목명": "산업시설자금대출","상품유형": "서비스산업(시설및투자)_일반","상품재원": "유망서비스산업(물류)","상품용도": "설비투자(기계기구)","상품기법": "일반","혁신성장품목코드": "000000","혁신성장품목": "해당사항없음", "신용등급": "BB-","기표일자": "20200921","기표금액(원화)": "550,000,000 ","단기운영연평잔": "","기업규모": "중소기업","회수여부": "","예외사항여부": "N","실적인정액": "550,000,000 ","비고": "" },
];


export default{
  components:{
    Card,
    BaseTable
  },
  data() {
    return {
      table1: {
        title: "Simple Table",
        columns: [...tableColumns],
        data: [...tableData]
      },
      table2: {
        title: "Table on Plain Background",
        columns: [...tableColumns],
        data: [...tableData]
      }
    };
  }
}
</script>
<style>
</style>
