<template>
  <div style="margin-bottom: 42px">
    <div class="d-flex justify-content-between" style="padding-bottom: 8px">
      <div class="text-left" style="cursor:pointer" @click="goPage">{{ title }}</div>
      <div class="col-6 text-right d-none d-xl-block">2020-11-11</div>
    </div>
    <div class="text-left">
      {{ result | comma }}
    </div>
    <div class="progress" style="margin:10px 0 10px 0;cursor:pointer" @click="goPage">
      <div :class="'progress-bar ' + bg" role="progressbar" :style="{width: progress+'%'}" :aria-valuenow="progress" aria-valuemin="0" aria-valuemax="100">
        {{ progress }}%</div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'funding-progress',
  props: {
    title: String,
    dest: String,
    bg: String, // bg-success, bg-info, bg-warning, bg-danger  by bootstrap class
    result: Number,
    goal: Number
  },
  methods: {
    goPage() {
      this.$router.push(this.dest);
    }
  },
  filters:{
    comma(val){
    	return String(val).replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    }
  },
  computed: {
    progress() {
      return (this.result/this.goal*100).toFixed(1);
    }
  }
};
</script>