<template>
<div style="background-color: #ffffff;width: 100%;height: 150px;margin-bottom: 20px;">
    <div class="text-left h3" style="padding: 15px 15px 0 15px;color:#1d253b;font-weight:100;margin-bottom:20px">
        <div class="text-left h5" style="margin-bottom: 5px;color:#9A9A9A;font-weight:300">{{subTitle}}</div>
        <i class="tim-icons icon-bell-55 text-primary" style="font-size:16px;margin:0 5px 3px 0"></i>{{title}}
    </div>
    <div class="d-flex justify-content-between align-items-end">
        <span class="text-left" style="font-size:2.0rem; padding-left:15px; font-weight:100;">{{progress+'%'}}</span>
        <span style="font-size:1rem; padding-right:15px">
            <span style="padding-right:5px">실적</span>
            <span style="padding-right:5px">{{result.toFixed(2)}}</span>
            <span style="padding-right:5px">/</span>
            <span style="padding-right:5px">목표</span>
            <span>{{goal.toFixed(2)}}</span>
        </span>
    </div>
</div>
</template>
<script>
export default {
    name: 'rorwa-card',
    props: {
        title: String,
        subTitle: String,
        result: Number,
        goal: Number
    },
    computed: {
        progress() {
            return (this.result/this.goal*100).toFixed(1);
        }
    }
}
</script>